/* Using CSS Variables */
:root {
  --primary-color: #2a2a2a;
  --secondary-color: #ffffffaa;
  --highlight-color: darkgreen;
  --warning-color: red;
  --info-color: darkblue;
  --error-color: darkred;
  --success-color: darkgreen;
}

/* Global Styles */
html {
  height: 100vh;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  color: var(--secondary-color);
  margin-bottom: 25px;
}

/* expand the bottom of the page by 300px */
#screen-space {
  height: 900px;
}

/* Progress Bar */
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #4caf50;
  z-index: 1000;
}

/* Styled Bookmark Button */
.bookmark-button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it inline */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition-duration: 0.4s; /* 0.4 second transition */
}

.bookmark-button:hover {
  background-color: white; /* White background */
  color: black; /* Black text */
}

/* Text Styles */
p,
a,
h5 {
  color: var(--secondary-color);
}

.hyperLink,
#tutorialLink1,
#tutorialLink2 {
  color: var(--highlight-color);
  font-size: 20px;
}

.initialSteps {
  color: var(--warning-color);
}

h1 {
  color: white;
  font-family: monospace;
}

h2,
h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.command {
  color: var(--error-color);
}

.command2 {
  color: var(--success-color);
}

#commandEmail {
  color: var(--info-color);
}

/* Image and Logo Styles */
.logoRow {
  display: flex;
}

.column {
  width: 100px;
}

#macLogo {
  flex: 50%;
  filter: invert(100%);
  width: 100px;
  margin: 0;
}

#VSCLogo {
  flex: 50%;
  /* filter: invert(100%); */
  width: 75px;
  margin: 0;
}

#windowsLogo {
  flex: 100%;
  width: 50px;
  margin: 28px;
}

/* Tutorial Styles */
#tutorial1,
#tutorial2,
#tutorial3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8383832f;
  width: 50%;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  transition: 0.5s background-color;
}

#tutorial1:hover,
#tutorial2:hover,
#tutorial3:hover {
  background-color: #066ab760;
  transition-delay: 0.01s;
}

#dropdownSection1,
#dropdownSection2,
#dropdownSection3 {
  color: black;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  filter: drop-shadow(5px 2px 5px #26262680);
  width: 75%;
  padding: 20px;
  margin: 20px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  #tutorial1,
  #tutorial2,
  #tutorial3 {
    width: 90%;
  }

  #dropdownSection1,
  #dropdownSection2,
  #dropdownSection3 {
    width: 85%;
  }

  img {
    width: 95%;
  }
}

#id-rds-png,
#ssh-add-ssh-key-png {
  width: 100%;
}

/* Background Animations */
.bg {
  animation: slide 40s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #191919 50%, #005a96 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 15s;
}

.bg3 {
  animation-duration: 15s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%) translate3d(0, 0, 0);
  }
  100% {
    transform: translateX(25%);
  }
}

/* Tutorial Completion Animations */
body {
  background-color: #2a2a2a;
  transition: background-color 2s ease;
}

.fade-background {
  background-color: #ffffff;
}

#progress-container {
  width: 100%;
  background-color: #ccc;
}

#progress-bar {
  width: 0;
  height: 4px;
  background-color: #0075ea;
}

#fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

#congrats-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 4em;
  display: none;
}
